{% extends 'adminbasic.html' %}
{% block content %}

<div class="active-details">
  <div class="recentOrders" data-aos="zoom-in">
      <div class="cardHeader">
          <h2>Closed Tickets</h2>
      </div>
      <table id="closedTable" style="width: 100%;"> 
          <thead>
              <tr>
                  <td>Ticket ID</td>
                  <td>Queries</td>
                  <td>Requester</td>
                  <td>Assigned To</td>
                  <td>Created Date</td>
                  <td>Due Date</td>
                  <td>Status</td>
              </tr>
          </thead>

          <tbody>
            {% for statuse in tickets %}
            {% if statuse.status == "closed" %}
              <tr>
                <th scope="row"> {{ statuse.Id }} </th>
                <td> {{ statuse.queries }} </td>
                <td> {{ statuse.username }} </td>
                <td> {{ statuse.assigned }} </td>
                <td> {{ statuse.assigned_date }} </td>
                <td> {{ statuse.due_date }} </td>
                {% if statuse.status == 'closed' %}
                <td><span class="active-status closed">{{ statuse.status }}</span></td>
                {% endif %}
                
              </tr>
              {% endif %}
  {% endfor %}

          </tbody>
      </table>
  </div>
  </div>
</div>
<!--DATA TABLES-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script>
    $(document).ready( function () {
    $('#closedTable').DataTable();
    } );
</script>

 {% endblock %}
 