{% extends 'adminbasic.html' %}
{% block content %}

<div class="active-details">
  <div class="recentOrders" data-aos="zoom-in">
      <div class="cardHeader">
          <h2>User Details</h2>
      </div>
      <table id="userTable" style="width: 100%;"> 
          <thead>
              <tr>
                  <td>User ID</td>
                  <td>User Name</td>
                  <td>Email</td>
                  <td>Phone No</td>
                  <td>Address</td>
                  <td>Designation</td>
                  <td>Date Joint</td>
                  <td>Last Login</td>
              </tr>
          </thead>

          <tbody>
            {% for statuse in tickets %}
            {% if statuse.designation != "superadmin" %}
              <tr>
                <th scope="row" style="padding:10px;"> {{ statuse.userId }} </th>
                <td> {{ statuse.username }} </td>
                <td> {{ statuse.email }} </td>
                <td> {{ statuse.mobNo }} </td>
                <td> {{ statuse.address }} </td>
                <td> {{ statuse.designation }} </td>
                <td> {{ statuse.date_joined }} </td>
                <td> {{ statuse.last_login }} </td>
              </tr>
              {% endif %}
  {% endfor %}
          </tbody>
      </table>
<!--DATA TABLES-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script>
    $(document).ready( function () {
    $('#userTable').DataTable();
    } );
</script>
  </div>
</div>
  
{% endblock %}